
# Intelij
.idea

# OSX
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc

# Others
*.log
*.bak
*.swp
Thumbs.db

geckodriver
geckodriver.log